# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Env
client/config.env
client/.env
client/.envprod
server/config.env
server/.env
server/.gitignore

# dependencies
client/node_modules
client/.pnp
client/.pnp.js
server/node_modules
server/.pnp
server/.pnp.js

# testing
client/coverage
server/coverage

# production
client/build
server/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*
